
<header>

  <div class="mx-auto flex max-w-3xl justify-center">
      <a
        class="-translate-x-[1px] -translate-y-[1px] text-2xl font-semibold"
        href="{{ `` | absURL }}"
        >
          <img src="/logo2.svg" title="{{ site.Title }}" style="width: 300px;" width="300" height="400"  />
      </a>
  </div>
  
  {{ $bg_color := $.Scratch.Get "bg_color" }}<!---->

    {{ $url := .RelPermalink }}<!---->

    {{ with $.Scratch.Get "social_list" }}
    <nav
      class=" flex justify-center dark:invert  "
    >
      {{ range . }}<!---->
      &nbsp;
      &nbsp;
      <a
        class="h-6 w-6 text-[0] [background:var(--url)_center_center/cover_no-repeat]"
        style="--url: url(./{{ . }}.svg)"
        href="{{ if eq . `rss` }}{{ `index.xml` | absURL }}{{ else if eq . `mastodon` }}{{ index site.Params . }}{{ else }}https://{{ . }}{{ if eq . `threads` }}.net{{ else }}.com{{ end }}/{{ if eq . `linkedin` }}in/{{ end }}{{ index site.Params . }}{{ end }}"
        target="_blank"
        rel="{{ if eq . `rss` }}alternate{{ else }}me{{ end }}"
      >
        {{ . }}
      </a>
      &nbsp;
      &nbsp;
      {{ end }}<!---->
    </nav>
    {{ end }}<!---->
</header>
